<!DOCTYPE html>
<html>
  <head>
  <div id="header">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <img src="images/abn.jpeg"></img>
  </div>  
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Excel Automation</p>
    </br>
 
    <p>Welkom</p>
    </br>
    <a href="createNewFile"> Create New File </a>
    </br>
   <a href="updateExistingFile"> Update Config Of Existing File </a>
   </br>
   <a href="viewData"> View Data on File</a> 
   </br>
   
   
  
  </body>
</html>