<!DOCTYPE html>
<html>
  <head>
  
  </head>
  <body>
    
 
    <table>
    <%for(i=0;i<data.length;i++){%>
    <tr>
      <%var col=data[i]%>
      
      <%for(j=0;j<col.length;j++){%>
      
      <td><%=col[j]%></td>
      
      <%}%>
    
    
    </tr>
    <%}%>
    
    
    </table>
   
  
  </body>
</html>